/mobileFrontend/*.iml
/mobileFrontend/.kotlin
/mobileFrontend/.gradle
/mobileFrontend/**/build/
/mobileFrontend/xcuserdata
/mobileFrontend/!src/**/build/
/mobileFrontend/.idea
/mobileFrontend/.DS_Store
/mobileFrontend/captures
/mobileFrontend/.externalNativeBuild
/mobileFrontend/.cxx
/mobileFrontend/*.xcodeproj/*
/mobileFrontend/!*.xcodeproj/project.pbxproj
/mobileFrontend/!*.xcodeproj/xcshareddata/
/mobileFrontend/!*.xcodeproj/project.xcworkspace/
/mobileFrontend/!*.xcworkspace/contents.xcworkspacedata
/mobileFrontend/**/xcshareddata/WorkspaceSettings.xcsettings

/skymibackend/_build/
/skymibackend/cover/
/skymibackend/deps/
/skymibackend/doc/
/skymibackend/.fetch
/skymibackend/erl_crash.dump
/skymibackend/*.ez
/skymibackend/tmp/
/skymibackend/skymibackend-*.tar
/skymibackend/priv/static/assets/
/skymibackend/priv/static/cache_manifest.json
/skymibackend/npm-debug.log
/skymibackend/assets/node_modules/
